<div class="hero" ng-controller="HeroController as ctrl">

    <!--<div id="player"></div>-->

</div>

<!--tab navigation-->
<div ng-controller="MainController as ctrl"  class="sample row"
     style="z-index:20;
            position:relative;
            width:100%;
            ">

    <div layout="row" layout-align="end start"
         style="float:right;
         padding-right: 20px;
         background-color:#bdbdbd;
         height: 48px;
         ">
        <md-select placeholder="Sort by" ng-model="sortVal">
            <md-option value="1">item one</md-option>
            <md-option value="2">item two</md-option>
        </md-select>
    </div>


    <md-tabs class="md-primary"   md-selected="ctrl.selectedIndex" style="max-height:48px">
        <md-tab id="tab1" md-on-select="ctrl.tabClick(0)" ng-link="overview" href="/overview">
            <md-tab-label>OVERVIEW</md-tab-label>
        </md-tab>
        <md-tab id="tab2" md-on-select="ctrl.tabClick(1)">
            <md-tab-label>RANDOMIZE</md-tab-label>
        </md-tab>
        <md-tab id="tab3" md-on-select="ctrl.tabClick(2)">
            <md-tab-label>RECOMMENDED</md-tab-label>
        </md-tab>
        <md-tab id="tab1" md-on-select="ctrl.tabClick(3)">
            <md-tab-label>GENRES & MOODS</md-tab-label>
        </md-tab>
        <md-tab id="tab2" md-on-select="ctrl.tabClick(4)">
            <md-tab-label>PLAYLISTS</md-tab-label>
        </md-tab>
        <md-tab id="tab3" md-on-select="tabClick(5)">
            <md-tab-label>NEWS</md-tab-label>
        </md-tab>
    </md-tabs>


</div>


